/*#header > p{
    font-family: "Elsie", serif;
    font-weight: 900;
    font-style: normal;
}*/
:root{
    --elsie{
        font-family: "Elsie", serif;
        font-weight: 900;
        font-style: normal;
            }
}

#head{
  height: 650px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}


.head-img{
  padding: 0;
  height: 75%;
  width: 100%;
  margin-bottom: 15px;
  background-image: url("https://www-file.huawei.com/-/media/corp2020/sustainability/women-in-tech-roadshow/banner-pc2.jpg");
  object-fit: scale-down;
  border-bottom: 4px solid #ffffff;
}

/*@media all and (max-width:600px){


          }*/
